@model BasketTotalVm

<script>

    function fetchShopCart() {
        fetch(window.location.origin + '/ShopCart/GetShopCart')
            .then(res => res.text())
            .then(data => $("#shopcart").html(data));

        fetch(window.location.origin + '/Basket/Index')
            .then(res => res.text())
            .then(data => $("#basket").html(data));
    }

    function updateBasketItem(id, count) {
        $.ajax({
            url: `/Basket/UpdateBasketItem`,
            type: 'PUT',
            data: {
                id: id,
                count: count
            }
        }).done(function (data) {
            Command: toastr["success"]("Basket item updated");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            fetchShopCart();

        }).fail(function () {
            Command: toastr["danger"]("Basket item could not updated");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        });
    }

    function clearBasket() {
        $.ajax({
            url: `/Basket/ClearBasket`,
            type: 'DELETE',
        }).done(function (data) {
            Command: toastr["success"]("Basket cleared");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            fetchShopCart();

        }).fail(function () {
            Command: toastr["danger"]("Failed clearing basket");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        });
    }

    function removeProductFromBasket(id) {
        $.ajax({
            url: `/Basket/RemoveBasketItem/${id}`,
            type: 'DELETE',
        }).done(function (data) {
            Command: toastr["success"]("Basket item deleted");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            fetchShopCart();

        }).fail(function () {
            Command: toastr["danger"]("Basket item could not deleted");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        });
    }


</script>

<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive" style="height:452px">
                    <table class="table shopping-summery text-center clean">
                        <thead>
                            <tr class="main-heading">
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td class="image product-thumbnail">
                                        <img class="default-img"
                                             src="@(!string.IsNullOrEmpty(item.Product.PrimaryImageName) ? $"/Assets/assets/products/{item.Product.PrimaryImageName}" : "/Assets/assets/imgs/shop/product-2-1.jpg")"
                                             alt="">
                                    </td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="/ProductDetails/Index/@item.Product.Id">@item.Product.Title</a></h5>
                                    </td>
                                    <td class="price" data-title="Price"><span>$@item.Product.SellPrice </span></td>
                                    <td class="text-center" data-title="Stock">

                                        <div class="detail-qty border radius  m-auto">
                                            <a onclick="updateBasketItem(@item.Id, @(item.Count - 1))" class="qty-change qty-down" data-item-id="@item.Id">
                                                <i class="fi-rs-angle-small-down"></i>
                                            </a>
                                            <span class="qty-val">@item.Count</span>
                                            <a onclick="updateBasketItem(@item.Id, @(item.Count + 1))" class="qty-change qty-up" data-item-id="@item.Id">
                                                <i class="fi-rs-angle-small-up"></i>
                                            </a>
                                        </div>

                                    </td>
                                    <td class="text-right subtotal" data-title="Cart">
                                        <span>$ @(item.TotalItemPrice)</span>
                                    </td>
                                    <td class="action" data-title="Remove">
                                        <a onclick="removeProductFromBasket(@item.Id)" class="text-muted">
                                            <i class="fi-rs-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td colspan="6" class="text-end">
                                    <a onclick="clearBasket()" class="text-muted">
                                        <i class="fi-rs-cross-small"></i> Clear Cart
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cart-action text-end">
                    <a asp-action="Index" asp-controller="Home" class="btn"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                </div>
                <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                <div class="row mb-50">
                    <div class="col-lg-6 col-md-12">
                        <div class="mb-30 mt-50">
                            <div class="heading_s1 mb-3">
                                <h4>Apply Coupon</h4>
                            </div>
                            <div class="total-amount">
                                <div class="left">
                                    <div class="coupon">
                                        <form action="#" target="_blank">
                                            <div class="form-row row justify-content-center">
                                                <div class="form-group col-lg-6">
                                                    <input class="font-medium" name="Coupon" placeholder="Enter Your Coupon">
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <button class="btn  btn-sm"><i class="fi-rs-label mr-10"></i>Apply</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="border p-md-4 p-30 border-radius cart-totals">
                            <div class="heading_s1 mb-3">
                                <h4>Cart Totals</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cart_total_label">Cart Subtotal</td>
                                            <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">$@Model.SubTotalPrice</span></td>
                                        </tr>
                                        <tr>
                                            <td class="cart_total_label">Shipping</td>
                                            <td class="cart_total_amount">
                                                <i class="ti-gift mr-5"></i>
                                                @(Model.TotalShippingFee == "000" ? "Free Shipping" : $"$ {Model.TotalShippingFee}")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart_total_label">Total</td>
                                            <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">$@Model.TotalPrice</span></strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="#" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>