@model CheckoutCompleteVm;

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Checkout
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <form method="post" asp-controller="Checkout" asp-action="CheckoutComplete" id="payment-form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="divider mt-50 mb-50"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-25">
                        <h4>Billing Details</h4>
                    </div>
                        <div class="form-group">
                            <input type="text" required="" asp-for="Street" placeholder="Address *">
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input required="" type="text" asp-for="City" placeholder="City / Town *">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input required="" type="text" asp-for="State" placeholder="State / County *">
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input required="" type="text" asp-for="PostalCode" placeholder="Postcode / ZIP *">
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input required="" type="text" placeholder="Phone *" asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="text" required="" asp-for="CardholderName" placeholder="Cardholder Name *">
                            <span asp-validation-for="CardholderName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input required="" type="text" asp-for="CardNumber" placeholder="Card Number *">
                            <span asp-validation-for="CardNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input required="" type="text" asp-for="ExpiryMonth" placeholder="Expiry Month *">
                            <span asp-validation-for="ExpiryMonth" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input required="" type="text" asp-for="ExpiryYear" placeholder="Expiry Year *">
                            <span asp-validation-for="ExpiryYear" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input required="" type="text" placeholder="CVV *" asp-for="CVV">
                            <span asp-validation-for="CVV" class="text-danger"></span>
                        </div>


                        <div class="mb-20">
                            <h5>Additional information</h5>
                        </div>
                        <div class="form-group mb-30">
                            <textarea rows="5" placeholder="Order notes" asp-for="AdditionalAddressInfo"></textarea>
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="order_review">
                        <div class="mb-20">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table text-center" style="overflow-y:scroll;height:478px">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Basket.Items)
                                    {

                                        <tr>
                                            <td class="image product-thumbnail">
                                                <img class="default-img"
                                                     src="@(!string.IsNullOrEmpty(item.Product.PrimaryImageName) ? $"/Assets/assets/products/{item.Product.PrimaryImageName}" : "/Assets/assets/imgs/shop/product-2-1.jpg")"
                                                     alt="">
                                            </td>
                                            <td>
                                                <h5><a href="shop-product-full.html">@item.Product.Title</a></h5> <span class="product-qty">x @item.Count</span>
                                            </td>
                                            <td>$ @item.TotalItemPrice</td>
                                        </tr>
                                    }

                                    <tr>
                                        <th>SubTotal</th>
                                        <td class="product-subtotal" colspan="2">$ @Model.Basket.SubTotalPrice</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td colspan="2"><em> @(Model.Basket.TotalShippingFee == "000" ? "Free Shipping" : $"$ {Model.Basket.TotalShippingFee}")</em></td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">$ @Model.Basket.TotalPrice</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        <div class="payment_method">
                            <div class="mb-25">
                                <h5>Payment</h5>
                            </div>
                            <select class="form-select" asp-for="PaymentMethod" asp-items="@ViewBag.PaymentMethods">
                                <option disabled selected>Select Payment Method</option>
                            </select>
                            </div>
                        </div>
                        <button class="btn btn-fill-out btn-block mt-30" form="payment-form">Place Order</button>
                    </div>
                </div>
            </div>
        </form>

    </section>
</main>
